.header {
  display: grid;
  grid-template-columns: auto 30% 40%;
  grid-column-gap: 2rem;
  align-items: center;
  width: 100%;
  height: 14rem;
  border: 1px solid black;
  margin: 0;
  padding: 0 2rem 0 0;
  box-sizing: border-box;

  &__breadcrumbs {
    justify-self: end;
  }
}
