.search-box {
  font-size: 15px;
}

.search-box__input {
  margin: 0;
  border: 0;
  padding: 0 1em;
  height: calc(8px + 6px + 2px + 2rem);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px rgba(0, 0, 0, 0.5) inset;
}