.post-item {
  display: flex;
  justify-content: space-between;
  /* 2 * two buttons + (to make it looking lice) 1rem */
  height: calc(2 * 3rem + 1rem);
  margin: 0;
  padding: 1rem;
  border: 1px solid black;

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    padding: 0;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    box-sizing: border-box;
  }

  &__button {
    border: 0;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
    width: 4rem;
    max-width: 80px;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__title {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    text-indent: 1.5rem;
    text-overflow: ellipsis;
  }
}