.post-item {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  margin: 0;
  padding: 1rem;
  border: 1px solid black;

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    padding: 0;
    margin: 0 0 0 1em;
    box-sizing: border-box;
  }

  &__button {
    height: 3rem;
    width: 4rem;
    max-width: 80px;
    margin: 0;
    border: 0;
    padding: 0 .5rem 0 .5rem;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__title {
    padding: 0;
    margin: 0 0 1rem;
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    text-indent: 1.5rem;
    text-overflow: ellipsis;
  }
}
