.add-post-button {
  height: 3rem;
  width: 5rem;
  max-width: 80px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: lightskyblue;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}
