.delete-post-button {
  &__modal-button {
    height: 3rem;
    width: 5rem;
    max-width: 80px;
    margin: 0 0.5rem;
    border: 0;
    padding: 0 0.5rem 0 0.5rem;
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }
}
