.breadcrumbs {
  padding: 0;
  border: 0;
}

.breadcrumbs__link {
  color: brown;
  text-decoration: initial;

  &::after {
    margin: 0 0.5rem 0 0.5rem;
    color: black;
    content: ">";
  }

  &:last-child::after {
    content: "";
  }
}
