.post-page {
  &__title-input {
    width: 50%;
    border: 1px solid black;
    padding: 0.5rem;
  }

  &__body-input {
    width: 70%;
    border: 1px solid black;
    padding: 0.5rem;
  }

  &__comment:not(:last-child) {
    margin: 0 0 1em 0;
  }

  &__part {
    margin: 0.5rem 0;
  }

  &__button {
    border: 0;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
    width: 15rem;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}