.app {
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.app>* {
  /* Including footer - it looks better with margin. */
  margin-bottom: 20px;
}

#header {
  border: 1px solid black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  height: 10rem;
  max-height: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#header > * + h2 {
  margin-left: 2rem;
}

.logo {
  height: 100%;
  box-sizing: border-box;
}

.search-box {
  font-size: 15px;
}

.search-box__inputfield {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  height: calc(8px + 6px + 2px + 2rem);
  box-sizing: border-box;
}

.search-box__go-button {
  font-weight: bold;
  margin: 0;
  height: calc(8px + 6px + 2px + 2rem);
  width: 80px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-container__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-post-button {
  font-weight: bold;
  margin: 0;
  height: calc(8px + 6px + 2px + 2rem);
  width: 80px;
  max-width: 80px;
  background-color: lightskyblue;
  border: none;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.posts-container__posts>*:not(:last-child){
  margin-bottom: 15px;
}

.post-item {
  margin: 0;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  /* 2 * two buttons + (to make it looking lice) 1rem */
  height: calc(2 * (8px + 6px + 2px + 2rem) + 1rem);
  box-sizing: content-box;
}

.post-item__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.post-item__button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(8px + 6px + 2px + 2rem);
  width: 80px;
  max-width: 80px;
  background-color: lightskyblue;
  box-sizing: border-box;
}

.post-item__title {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
}

.post-item__paragraph {
  padding: 0;
  margin: 0;
  text-indent: 1.5rem;
  text-overflow: ellipsis;
}

#footer {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  border: 1px solid black;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}