.app {
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.app>* {
  /* Including footer - it looks better with margin. */
  margin-bottom: 20px;
}

.logo {
  height: 100%;
  box-sizing: border-box;
}

.search-box {
  font-size: 15px;
}

.search-box__input {
  margin: 0;
  border: 0;
  padding: 0 1em;
  height: calc(8px + 6px + 2px + 2rem);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px rgba(0, 0, 0, 0.5) inset;
}

.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-container__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-post-button {
  margin: 0;
  height: calc(8px + 6px + 2px + 2rem);
  width: 80px;
  max-width: 80px;
  border: 0;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  background-color: lightskyblue;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.posts-container__posts>*:not(:last-child){
  margin-bottom: 15px;
}

.post-item {
  display: flex;
  justify-content: space-between;
  height: calc(2 * (8px + 6px + 2px + 2rem) + 1rem);
  margin: 0;
  padding: 1rem;
  border: 1px solid black;
  /* 2 * two buttons + (to make it looking lice) 1rem */
}

.post-item__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.post-item__button {
  border: 0;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(8px + 6px + 2px + 2rem);
  width: 80px;
  max-width: 80px;
  box-sizing: border-box;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.post-item__title {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
}

.post-item__paragraph {
  padding: 0;
  margin: 0;
  text-indent: 1.5rem;
  text-overflow: ellipsis;
}

#footer {
  box-sizing: border-box;
  border: 1px solid black;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}